requests==2.32.3
beautifulsoup4==4.12.3
streamlit==1.36.0
selenium==4.22.0
webdriver_manager==4.0.1
pandas==2.2.2
xlsxwriter==3.2.0
openai>=1.35.13
readability-lxml==0.8.1
lxml[html_clean]
lxml_html_clean
openpyxl==3.1.5
anthropic>=0.28.1
pyperclip==1.8.2
fpdf2
